BeautifulSoup==3.1.0.1
Django==1.2.1
PIL==1.1.7
hg+https://pylinkedin.googlecode.com/hg/pylinkedin>=0.1
distribute==0.6.10
django-compressor==0.5.3
-e git+http://github.com/jamesturk/django-markupfield.git@3ab742d66839e763c574fa91e3a3f5407cf37a12#egg=django_markupfield-1.0.0b-py2.6-dev
django-pagination==1.0.7
django-socialauth==0.1.2c
-e git+http://github.com/facebook/python-sdk.git#egg=facebook_python_sdk
-e git+git@github.com:agiliq/django-google-analytics.git@210167d90e8fb1066b335683880fa77b2c3e0047#egg=google_analytics-0.1-py2.6-dev
oauth==1.0.1
python-openid==2.2.5
sorl-thumbnail==3.2.5
wsgiref==0.1.2
