BeautifulSoup
PIL
hg+https://pylinkedin.googlecode.com/hg/pylinkedin>=0.1
django-compressor
-e git+http://github.com/jamesturk/django-markupfield.git@3ab742d66839e763c574fa91e3a3f5407cf37a12#egg=django_markupfield-1.0.0b-py2.6-dev
django-pagination
django-socialauth
-e git+http://github.com/facebook/python-sdk.git#egg=facebook_python_sdk
-e git+git@github.com:agiliq/django-google-analytics.git@210167d90e8fb1066b335683880fa77b2c3e0047#egg=google_analytics-0.1-py2.6-dev
oauth
python-openid
sorl-thumbnail
Whoosh
django-haystack
