BeautifulSoup
PIL
hg+https://pylinkedin.googlecode.com/hg/pylinkedin>=0.1
django-compressor
-e git+http://github.com/jamesturk/django-markupfield.git#egg=django_markupfield-1.0.0b-py2.6-dev
django-pagination
django-socialauth
-e git+http://github.com/facebook/python-sdk.git#egg=facebook_python_sdk
-e git+http://github.com/agiliq/django-google-analytics.git#egg=google_analytics-0.1-py2.6-dev
oauth
python-openid
sorl-thumbnail==11.09
Whoosh
django-haystack
