

.eachtopic_row {
    min-height: 55px;
}

.post-author {
    border-right: 1px solid #E0E0E0;
    padding-right: 5px;
}

.eachrow {
    position: relative;
}

.post-options {
    position:absolute; bottom: 10px; right: 10px;
}





.sticky {
    background: #F2F4FA;
    margin-top: 0.367em;
}

.smallspan {
    float: left;
    min-height: 1px;
    margin-left: 20px;
    width: 15px;
}

.left-icon {
    float: left; margin-top: 13px; 
}

.row-div { border-bottom: 1px solid rgb(223, 223, 223); }

.redirect .icon {
    border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
    }

 .sticky .icon {
    border-color: #D7E5F3 #C3CFDC #9FB3C7 #90A2B4
    margin-top: 0.367em;
    }

.closed .icon {
    border-color: #ACACAC #979797 #898989 #7A7A7A
    }

.sticky .closed {
    border-color: #D7E5F3 #C3CFDC #898989 #7A7A7A
    margin-top: 0.367em;
    }

/*
.icon {
    border-color: #2B75AD #235E8C #1F537B #266799
    }
*/
