body { background-color: rgb(51, 48, 48); }
body .page-header a { color: whitesmoke; }

.eachtopic_row {
    min-height: 55px;
}

.post-author {
    border-right: 1px solid #E0E0E0;
    padding-right: 5px;
}

.eachrow {
    position: relative;
}

.post-options {
    position:absolute; bottom: 10px; right: 10px;
}

.smallspan {
    float: left;
    min-height: 1px;
    margin-left: 20px;
    width: 15px;
}

.left-icon {
    float: left; margin-top: 13px; 
}

.row-div { border-bottom: 1px solid rgb(223, 223, 223); }


.forum_column_title {
    font-weight: bold;
    margin-bottom: 7px;
    line-height: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.well.well-small.small { padding-bottom: 0px; }

.forum_name { 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#belowpostreplybox .pagination { margin: 0px; }
#belowpostreplybox { margin: 20px 0px; }
