

.eachtopic_row {
    min-height: 55px;
}

.post-author {
    border-right: 1px solid #E0E0E0;
    padding-right: 5px;
}

.eachrow {
    position: relative;
}

.post-options {
    position:absolute; bottom: 10px; right: 10px;
}




.icon {
    border-style: solid;
border-width: 0.5833em;
height: 0;
width: 0;
float: left;
margin-top: 0.967em;
/* margin-left: -2.417em; */
}

.sticky {
    background: #F2F4FA;
    margin-top: 0.367em;
}

.smallspan {
    float: left;
    min-height: 1px;
    margin-left: 20px;
    width: 15px;
}

.icon {
    border-color: #EDF1F5 #DDE0E4 #C6CBD3 #BABFC6
    }

.redirect .icon {
    border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
    }

 .sticky .icon {
    border-color: #D7E5F3 #C3CFDC #9FB3C7 #90A2B4
    margin-top: 0.367em;
    }

.closed .icon {
    border-color: #ACACAC #979797 #898989 #7A7A7A
    }

.sticky .closed {
    border-color: #D7E5F3 #C3CFDC #898989 #7A7A7A
    margin-top: 0.367em;
    }

/*
.icon {
    border-color: #2B75AD #235E8C #1F537B #266799
    }
*/
