{% load url from future %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load compress %}
{% load analytics %}
{% load dinette_tags %}

{% block html_declare %}
<html>
{% endblock %}

<head>
  {% compress css %}
  <link href="{{ STATIC_URL }}dinette/css/bootstrap.css" rel="stylesheet" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dinette/css/Oxygen_ie6.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dinette/css/Oxygen_ie7.css" /><![endif]-->
    <link href="{{ STATIC_URL }}dinette/css/style.css" rel="stylesheet" />
    <style type="text/css">
        .well {
            margin-bottom: 0px;
        }
    </style>
  {% endcompress %}

  <title>
    {% block title %} {% get_site_name %} - {% get_site_tag_line %} {% endblock %}
  </title>
  {% block extra_header %}{% endblock %}
</head>

<body>

<div class='container'>
{% block main_content %} {% endblock %}   
{% block content %} 

	<div id="brd-about" class="well well-small">
	  <p id="copyright" class='pull-right'>Powered by <strong><a href="{% url dinette_category %}">Dinette</a></strong></p>
      <p id="extensions-used" class='pull-left'> Copyright &copy; 2010 <a href="http://{% get_main_site_domain %}">{% get_main_site_name %}</a></p>
	</div>
</div>
{% endblock %}

{% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}dinette/scripts/jquery13.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dinette/scripts/jqueryform.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dinette/scripts/dinetteajax.js"></script>
{% endcompress  %}

{% analytics %}

</body>    
</html>
