{% load url from future %}
{% load dinette_tags %}
<br>
<div class='page-header'>
    <h1><a href="{% url 'dinette_category' %}">{% get_site_name %}</a></h1>

    <h1><small>{% get_site_tag_line %}</small></h1>
  </div>

<div  class="navbar"> 
    <div class='navbar-inner'>
  	<ul class='nav'> 
  		<li>
				<a href="{% url 'dinette_category' %}">Home</a>
		</li>
		<li>
				<a href="{% url 'dinette_search' %}">Search</a>
		</li>
		{% if user.is_authenticated %}
			<li>
				<a href="{% url 'dinette_new_for_user' %}">New topics</a>
			</li>
		{% endif %}
	  	{% for link in dinette_nav_links %}
		
			<li>
				<a href="{{ link.url }}">{{ link.title }}</a>
			</li>
		{% endfor %}
        <li>
		{% if user.is_authenticated %}
		  Hello 
              <a href="{{ user.get_profile.get_absolute_url }}">{{user.username}}</a>, 
		      <a href='{% get_logout_url %}'>Logout</a>
		{% else %}
		  <a href="{% get_login_url %}">Login</a>
		{% endif %}
        </li>
	</ul>
</div>
 </div>

<div class="well well-small pull-right small" >
  <p class="options pull-right">
  		<span><a href="{% url 'dinette_active' %}">Active Topics</a></span>
        <span class='navbar navbar-inverse'><a class='divider-vertical'></a></span>
		<span><a href="{% url 'dinette_unanswered' %}">Unanswered Topics</a></span>
  </p>
</div>	
<div class='clearfix'></div>
<br>

	
