{% extends "dinette/base.html" %}

{% load url from future %}


{% block content %}

    
<!-- brd-index begins -->
<div id="brd-index" class="brd-page basic-page">
{% include 'dinette/header_frag.html' %}
{% include 'dinette/announce_frag.html' %}

<!-- brd-main begins -->
<div id="brd-main">
{% for forum in forums_list %}
  <!--
  <div class="main-head">
    <h2 class="hn"><span>{#{ forum }#}</span></h2>
  </div>
  -->
  <button class='btn btn-info btn-large forum_name'>{{ forum }}</button>
  <div class='well'>
    <div class='forum_column_title'>
        <span class='span6' style='margin-left: 43px;'>Forum</span>
        <span class='span1'>Topics</span>
        <span class='span1'>Posts</span>
        <span class='span2'>Last Post</span>
    <div class='clearfix'></div>
    </div>

    <div class=''>
    {% for category in forum.category_set.all %}
    <div class='row-div'>

            <i class='icon-th left-icon'> </i>
            <div class="item-subject span6 row-item">
                <h4 >
                    <!--               <span class=' icon-chevron-right ' style='inline'></span> -->
                    <a href="{% url 'dinette_index' category.slug %}"><span> {{category}} </span></a></h4>
                    <p>{{ category.description }}
                    <span class="modlist">
                        (Moderated by
                        {% for moderator in category.moderated_by.all %}
                        <a href="{{ moderator.get_profile.get_absolute_url }}">{{moderator}}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        )
                    </span>
                    </p>
                </div>
            <div class='span1 row-item'> {{ category.get_topics.count  }} </div>
            <div class='span1 row-item'> {{ category.noofPosts }} </div>
            <div class='span2 row-item'>

                    {# last post can be Reply or Category #}
                    {% if category.lastPost.get_url_with_fragment %}
                        <a href={{ category.lastPost.get_url_with_fragment }}>
                    {% else %}
                        <a href={{ category.lastPost.get_absolute_url }}>
                    {% endif %}
                        {{ category.lastPostDatetime|date:"jS F Y H:i A" }}
                    </a>
                <cite>
                    by <a href={{ category.lastPostedUser.get_profile.get_absolute_url }}>
                            {{ category.lastPostedUser.username }}
                        </a>
                </cite>
            </div>
            <div class='clearfix'></div>
        </div>
    {% endfor %}
</div>

  </div>
  <!-- category-#id ends -->
  <br>
{% endfor %}
<!-- brd-main ends -->

<!-- forum_qpost -->

<!-- brd-stats begins -->
<div id="brd-stats" class="well well-large">
  <ul class='pull-left unstyled'>
	<li class="st-users">
	  <span>Total number of registered users: <strong>{{ totalusers }} </strong></span>
	</li>
    <li class="st-users">
	  <span>Newest registered user: 
	    <strong>
		  <a href="{{ last_registered_user.get_profile.get_absolute_url }}">
		    {{ last_registered_user.username }}
		  </a>
		</strong>
	  </span>
	</li>
</ul>
<ul class='pull-right unstyled'>
	<li class="st-activity">
	  <span>Total number of topics: <strong>{{ totaltopics }}</strong></span>
	</li>
	<li class="st-activity">
	  <span>Total number of posts: <strong> {{ totalposts }} </strong></span>
	</li>
	<li class="st-activity">
	  <span>Users Online: <strong> {{ users_online }} </strong></span>
	</li>
  </ul>
  <div class='clearfix'></div>
</div>
<!-- brd-stats ends -->


{{ block.super }}

</div><!-- brd-index ends -->
</div><!-- brd-wrap ends -->

{% endblock %}
