{% load url from future %}
{% load thumbnail %} 
<div id='post{{ reply.id }}' class='well eachrow'>

  
  <!-- div.postbody begins-->
  <!--  <div class="postbody"> -->
	<!-- div.post-author begins-->
    <div class="post-author span3">
	  <!-- ul.author-indent begins-->
	  <ul class="author-ident unstyled">
	    <li>
		    {% if reply.posted_by.get_profile.photo  %}
		      {% thumbnail reply.posted_by.get_profile.photo "80x80" as profile_photo %}
		      <img src="{{ profile_photo.url }}" />
		      {% endthumbnail %}
		    {% else %}                                                        
		      <img src="http://www.gravatar.com/avatar/{{reply.posted_by.get_profile.getMD5}}.jpg" alt="{{reply.posted_by.username}}'s Photo" />
		    {% endif %} 
        </li>
        <li>
		    <a href="{{ reply.posted_by.get_profile.get_absolute_url }}">{{reply.posted_by.username}}</a>
		</li>
		<li class="usertitle"><span>{{ reply.posted_by.get_profile.userrank }}  </span></li>
		<li class="userstatus">
		  <span>
		  {% if reply.posted_by.get_profile.is_online %}
			Online
		  {% else %}
			Offline
		  {% endif %}
		  </span>
		</li>
	  </ul>
	  <!-- ul.author-indent ends-->
	  
	  <!-- ul.author-info begins-->
	  <ul class="author-info unstyled" >
	    <li>
		  <span>Registered: 
		    <strong> {{ reply.posted_by.date_joined|date:"jS F Y H:i A" }}</strong>
		  </span>
		</li>
		<li>
		  <span>Posts: 
		    <strong> {{ reply.posted_by.get_profile.get_total_posts  }}</strong>
		  </span>
		</li>
	  </ul>
	  <!-- ul.author-info ends-->
	</div>
	<!-- div.post-author ends-->

	<div class="post-entry span8">
        <!-- div.post/even/replypost begins-->
        <a name="{{ reply.reply_number }}"></a>
        <div id=post{{ reply.id }} class="post even replypost">
        <!-- div p120560 begins-->
        <div id="reply{{ reply.id }}" class="posthead">
            <span class="post-num pull-right">{{ forloop.counter|add:1 }}</span>
            <span class="post-link pull-left">
                <a class="permalink" rel="bookmark" title="Permanent link to this post" href="{{ reply.get_url_with_fragment }}">{{ reply.created_on|date:"jS F Y H:i A" }}</a>
            </span> &nbsp; &nbsp; &nbsp;
        </div>
        <!-- div p120560 ends-->
        <h4 id="entry{{ reply.id }}" class="entry-title hn">Re: {{reply.topic.subject}}</h4>
		<div id=content{{ reply.id }} class="entry-content">
		  <p>{{ reply.message }}</p>
		  {% with reply as rtopic %}    
		    {% include 'dinette/attachement_frag.html' %}     
		  {% endwith %}
		</div>
        <!-- div.postbody ends-->
            {% if request.user %}
                    <div class="post-options">
                        <p class="post-actions">
                            {% if reply.posted_by == request.user or request.user in reply.topic.category.moderated_by.all %}
                                <span class="delete-post">
                                    <a href="#" onclick="delete_reply({{ reply.id }}); return false;">Delete</a>
                                </span>
                                <span class="edit-post">
                                    <a href="{% url 'dinette_editreply' reply.id %}">Edit</a>
                                </span>
                            {% endif %}
                            <span class="edit-post first-item">
                                <a href="#" onclick="quote_reply({{ reply.id }}, '{{ reply.posted_by.username }}'); return false;">Quick quote</a>
                            </span>
                        </p>
                    </div>

            {% endif %}
                </div>

        <!-- div.postbody ends-->
        <!-- {#
            {% if request.user %}
                <div class="postfoot ">
                    <div class="post-options">
                        <p class="post-actions">
                            {% if reply.posted_by == request.user or request.user in reply.topic.category.moderated_by.all %}
                                <span class="delete-post">
                                    <a href="#" onclick="delete_reply({{ reply.id }}); return false;">Delete</a>
                                </span>
                                <span class="edit-post">
                                    <a href="{% url 'dinette_editreply' reply.id %}">Edit</a>
                                </span>
                            {% endif %}
                            <span class="edit-post first-item">
                                <a href="#" onclick="quote_reply({{ reply.id }}, '{{ reply.posted_by.username }}'); return false;">Quick quote</a>
                            </span>
                        </p>
                    </div>
                </div>
            {% endif %}

            #}
            -->
	</div>
    <div class='clearfix'></div>

  </div>
  <!-- div.postbody ends-->
  


<!-- div.post/even/replypost ends-->
