{% load url from future %}
<div class='eachtopic_row'>
    <span class='smallspan'>
{% if topic.is_closed %}
	<span class="icon closed"><!-- --></span>
  {% endif %}
  
  {% if topic.is_sticky %}
	<span class="icon sticky"><!-- --></span>
  {% endif %}
  
  {% if topic.is_normal %}
	<span class="icon normal"><!-- --></span>
  {% endif %}
    &nbsp;
  </span>

    <div class="item-subject span6">

  



      <span class="item-num"></span>
	  {% if topic.is_closed %}
		<strong>(Closed)</strong>
	  {% endif %}
	  
	  {% if topic.is_sticky %}
		<strong>(Sticky)</strong>
	  {% endif %}		
	  <a href="{% url 'dinette_topic_detail' topic.category.slug topic.slug %}">{{topic.subject}} </a>   
	<span class="item-starter">
		  <cite>
		      by <a href={{ topic.posted_by.get_profile.get_absolute_url }}>
		             {{ topic.posted_by.username }}
		         </a>
		  </cite>
	</span>
  </div>
  
  <div class='span1'> <span>{{ topic.reply_set.count }}</span> </div>
  <div class='span1'>  <span>{{ topic.viewcount }}</span> </div>
  <div class='span2'>
	  {% if topic.reply_set.count > 0 %}
	      <span><a href="{{ topic.lastPost.get_url_with_fragment }}">{{ topic.lastPostDatetime|date:"jS F Y H:i A" }}</a></span>
	  {% else %}
	      <span><a href="{{ topic.lastPost.get_absolute_url }}">{{ topic.lastPostDatetime|date:"jS F Y H:i A" }}</a></span>
	  {% endif %}
	  <cite>
	      by <a href={{ topic.lastPost.posted_by.get_profile.get_absolute_url }}>
	             {{ topic.lastPost.posted_by.username }}
	         </a>
	  </cite>
  </div>
</div>
