
<html>
<head>
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}dinette/css/oxygen.css" />
 <link rel="stylesheet" type="text/css" media="screen"  href="{{ MEDIA_URL }}dinette/css/oxygen_cs.css" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dinette/css/Oxygen_ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dinette/css/Oxygen_ie7.css" /><![endif]-->
   <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}dinette/css/djorumstyle.css">

    <title>{% block title %} {% endblock %}</title>
   
    
</head>
<body>
    
{% block content%} {% endblock %}        

<script type="text/javascript" src="{{ MEDIA_URL }}dinette/scripts/jquery13.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}dinette/scripts/jqueryform.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}dinette/scripts/djorumajax.js"></script>





</body>    

